{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %} 
<h2>Change password:</h2>
<br>
<form method="post">
    <div class="mb-3">
      <label for="password" class="form-label">New password</label>
      <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" name="password">
      <div id="passwordHelp" class="form-text">
        Your password must be 8-20 characters long, contain a uppercase and lower case letter; a number; a symbol, and must not contain spaces, special characters, or emojis.
      </div>
    </div>
    <div class="mb-3">
        <label for="confirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirm" name="confirm">
    </div>
    <button type="submit" class="btn btn-submit">Change Password</button>
</form>

{% endblock %}