{% extends "layout.html" %}

{% block title %}History{% endblock %}

{% block content %} 

<h2>Measurement history:</h2>
<br>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="thead-row">
              <th scope="col">Date Added</th>
              <th scope="col">Weight</th>
              <th scope="col">Shoulder</th>
              <th scope="col">Chest</th>
              <th scope="col">Arms</th>
              <th scope="col">Waist</th>
              <th scope="col">Legs</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
        {% for measurement in measurements %}
            <tr class="tbody-row">
              <td>{{ measurement.date }}</td>
              <td>{{ measurement.weight }}</td>
              <td>{{ measurement.shoulder }}</td>
              <td>{{ measurement.chest }}</td>
              <td>{{ measurement.arm }}</td>
              <td>{{ measurement.waist }}</td>
              <td>{{ measurement.leg }}</td>
              <td><a href="/update_entry/{{ measurement.id }}" class="link">Update</a></td>
              <td><form method="post" action="{{ url_for('views.delete_entry', measurement_id=measurement.id) }}" onsubmit="return confirm('Are you sure you want to delete this entry?');">
                <button class="btn btn-danger btn-delete" type="submit">Delete</button>
            </form>
                </td>
            </tr>
        {% endfor %}
           </tbody>
    </table>
</div>

{% endblock %}