{% extends "layout.html" %}

{% block title %}Measurements{% endblock %}

{% block content %} 

<div>
  <h2>Notes</h2>
  <ul>
    <li>All body measurements should be in inches</li>
    <li>Only one side of the body should be measured for all the measurements</li>
  </ul>
</div>
<br>
<form method="post" class="measurements_form">
    <div class="mb-3">
      <label for="weight" class="form-label">Weight</label>
      <input type="text" class="form-control" id="email" aria-describedby="weightHelp" name="weight">
      <div id="weightHelp" class="form-text">Enter Weight in kilograms</div>
    </div>
    <div class="mb-3">
      <label for="shoulder" class="form-label">Shoulder</label>
      <input type="text" class="form-control" id="shoulder" name="shoulder">
    </div>
    <div class="mb-3">
      <label for="chest" class="form-label">Chest</label>
      <input type="text" class="form-control" id="chest" name="chest">
    </div>
    <div class="mb-3">
      <label for="arm" class="form-label">Arm</label>
      <input type="text" class="form-control" id="arm" aria-describedby="armHelp" name="arm">
      <div id="armHelp" class="form-text">Measure while arm is flexed</div>
    </div>
    <div class="mb-3">
      <label for="waist" class="form-label">Waist</label>
      <input type="text" class="form-control" id="waist" name="waist">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Thigh</label>
      <input type="text" class="form-control" id="leg" aria-describedby="legHelp" name="leg">
      <div id="legHelp" class="form-text">Measure half way up the thigh</div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-submit submit_measurements">Submit</button>
    </div>
</form>

{% endblock %}