{% extends "layout.html" %}

{% block title %}Settings{% endblock %}

{% block content %} 

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Account Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="/settings" method="post">
                    <input type="hidden" name="user_id" value="{{ current_user.id }}">
                    <button type="submit" class="btn btn-danger">Delete Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
<h2 class="mb-3">Personal Details:</h2>
<div class="list-group list-group-flush">
    <a href="/change_email" class="list-group-item list-group-item-action">Email: {{ user.email }}</a>
    <a href="/change_password" class="list-group-item list-group-item-action">Change Password</a>
</div>
<br>
    <button type="button" class="btn btn-danger btn-delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
        Delete Account
    </button>

{% endblock %}