{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %} 

<form method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" name="password">
      <div id="passwordHelp" class="form-text">
        Your password must be 8-20 characters long, contain a uppercase and lower case letter; a number; a symbol, and must not contain spaces, special characters, or emojis.
      </div>
    </div>
    <div class="mb-3">
        <label for="confirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirm" name="confirm">
    </div>
    <button type="submit" class="btn btn-submit">Sign Up</button>
</form>
<br>
<div class="mb-3">
  <a href="/login" class="link" class="links">Already have an account? Login</a>
</div>

{% endblock %}