.nav-item {
    font-size: 1.2rem;
}

.measurements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 0.2rem;
}

#submit_measurements{
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
}

.link-primary {
    text-decoration: none;
}

.link-primary:hover {
    text-decoration: underline;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(0, 0%, 97%);
    color: #333;
}

h1, h2 {
    color: #222;
}

#chart {
    display: block;
    margin: 1rem auto;
    max-width: 80%;
    max-height: 100%;
}
